.body /* the css class for the main body background styling*/
{
	background-color: #caabf8;
}
.margin-top /*css class for margin specifications*/
{
	margin-top: 5px;
}
.no-margin
{
margin:0px; 	
}
.no-padding /*css class for padding specifications*/
{ 
	padding:0px; 
}
.footer /*css class for the footer styling*/
{
	background-color: #7c6fe6;
	color: blue;
	margin-top: 30px;
	padding-top: 30px;
}